<p style="color: green"><%= notice %></p>

<%= render @jitkillah %>

<div>
  <%= link_to "Edit this jitkillah", edit_jitkillah_path(@jitkillah) %> |
  <%= link_to "Back to jitkillahs", jitkillahs_path %>

  <%= button_to "Destroy this jitkillah", @jitkillah, method: :delete %>
</div>
